<!-- Logback configuration -->
<configuration>
    <contextName>BackEndLogger</contextName>

    <!-- *************** PROPERTIES *************** -->
    <property name="LAYOUT" value="%-24(%d{ISO8601}) %-5level %msg - %-45logger{36}%n%rEx"/> <!-- http://logback.qos.ch/manual/layouts.html -->
    <property name="MAX_FILE_SIZE" value="50MB"/>
    <property name="STORED_FILENAME_PATTERN" value="-%d{yyyy-MM-dd}.%i"/>
    <property name="MAX_DAYS_KEPT" value="14"/> <!-- keep 14 days' worth of history -->
    <property name="COMPRESSION_MODE" value=".gz"/> <!-- .gz, .zip -->
    <property name="FILE_PATH" value="logs"/>
    <property name="APPLOGGER_FILENAME_PREFIX" value="service-sample"/>

    <!-- *************** APPENDERS *************** -->

    <!-- standard console appender. won't be used when the app is deployed -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LAYOUT}</pattern>
        </encoder>
    </appender>




    <!-- *************** LOGGERS *************** -->

    <root level="INFO">
        <!-- Set LOGGING env variable to 'local' in your machine to get STDOUT logging -->
        <!-- To use this, you will need org.codehaus.janino:janino library in the classpath -->
        <appender-ref ref="stdout"/>
    </root>
    <logger name="akka.stream.ws" level="DEBUG"/>


</configuration>